@import 'sass/styles/_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 



body {
  font-size: "62.5%";
  margin:0;
  font-family:'Roboto', sans-serif; 
  
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color :black
}

h1 {
  font-size: 20px;
}

option {
  font-size : 14px;
} 

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow : 2px 2px 5px grey;
  padding : 1rem;
}


header {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height :15vh; 
 //background-color: $color-red;
 background-color: $color-yellow-green ;
 @media screen and (max-width :650px){
  height:10vh;
 }

}

.icon_container {
  display:flex;
  justify-content: space-around;
  align-items : center;
}

nav > ul {
  display: flex;
  width :40vw;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    display: none;
  }
}



form > p {
  margin :1rem;
}

#admin {
  //width:15%;
  height:30%;
  flex:1;
  //background-color: blue;
  .account-big {
    display:flex;
    align-items:center;
    justify-content:space-around;
    figure {
      width:1.2rem;
      height:1rem;
      background-color:yellow;
      margin:0.1em;
    }
  }
  
  .hamburger{
    display: none;
  }

  @media screen and (max-width : 768px) {
    .hamburger_open {
      position: absolute;
      top: 1%;
      left: 0%;
      height: 100vh;
      width: 100%;
      z-index: 15;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      transition: right 1s ease;
      figure {
        width:25px;
        height:25px;
        background-color: $color-yellow-green;
        padding:2px;
        margin:auto;
        img {
          width:100%;
          height:100%;
        }
      }

      .menu {
        margin:0px;
        background-color:  $color-yellow-green-dark;
      }

      .menu_open {
        width: 100%;
        height: 100vh;
        padding: 3rem 5rem;
      }

      .menu_link {
        font-size: 2.8rem;
      }
     
    }
    .account-big {
      display : none
    }
  }
  
}

footer {
  display: flex;
  justify-content : space-around;
  align-items: center;
  background-color:#84C36D ;
  height:30vh;
  @media screen and (max-width :375px){
    flex-direction: column;
    h2{
      font-size: 14px;
    }
    p{
      font-size: 12px;
    }
 }
}



.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width : 100%;
}


.CTA {
  background-color:$color-purple ;
  border-radius:10%;
  border: 1px solid black;
  color:white;
  height:30px;
  margin:30px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2bf60;
  height:300px;
  width:60%;
  margin-bottom: 80px;
  figure{
    background-color: blue;
    height: 72%;
    margin:3px;
  };
  .proposition{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


#hero {
display: flex;
justify-content: center;
align-items: center;
background-color:$color-sky;
height:85vh;
width :100vw;
div{
  .hero_word {
    font-size: 60px;
    margin :0px;
    z-index:8;
    position:relative;
  }
  span {
    color :$color-darker-sky;
  }
}
.f_word{
  font-size: 25px;
  color:green;
  border-radius: 15%;
  z-index:4
}
}

#hero > h1 {
font-size: 4em;
font-weight: bold;
}
#presentation {
display:flex; 
flex-direction: column;
align-items: center;
}

.hero_pres {
background-color:$color-darker-sky ;
width:50%; 
padding:0.8em;
margin:1.2em
}

.mainElement {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: 1em;
  padding:1em;
  border: 1px solid black;
}

/*TRAIN*/


.train_meta {
  display :flex;
  justify-content: space-between;
}

#train_container {
  display:flex;
  position:relative;
  z-index:2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-height: 20rem;
  margin: 1em;
  padding:1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.train_content{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.words > h2 {
  display :flex; 
  justify-content: center;
}

.words > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size : 14px;
  background-color: #C4C4C4;
  border-style: none;
  width: 100px;
  min-height: 115px;
  margin: 5px;
  padding:8px;
}

.focus {
  background-color: green;
}

.success_overlay{
  position:absolute;
  z-index:10;
  top:33%;
  height:45%;
  width:80%;
  display: flex;
  flex-direction :'column';
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:10px;
}

.right_side {
  display:flex;
  justify-content: flex-end;
}

.btn {
    width: 80px;
    height: 26px;
}


.progress_bar{
  border-radius: 10px;
  width:80%;
  height:5px;
  background-color: #88BEDC;
}

.advancement{
  background-color: #3298C3;
  height:100%;
  border-radius:15px;
}


.layoutTransition {
  animation: fadeIn 0.5s ease-out;
}

.layoutDisapear {
  animation: fadeOut 0.5s ease-out;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display:block;
    opacity:1;
  }
}
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display:none;
    opacity:0;
  }
}


@keyframes preloader {
  100% { transform: scale(2); }
}

@keyframes bounce-out{
  0%    {opacity: 1;   transform: scale(1);}
  100%  {opacity: 0;   transform: scale(0.5);}
}
/*END TRAIN*/

.step {
  width : 40px;
  height :15px;
  background-color: grey;
}

.stepContent {
    width: 60%;
    margin: 150px;
    border-radius: 5px;
}

 .actual {
  background-color: green;
}

.learn_meta {
  display:flex;
  justify-content: space-around;
}

.icon_example {
  width : 20px;
}


/*TRAIN SEARCH*/


.sidebar {
  background-color: #D9D9D9;
  margin : 0px 0px 20px 20px;
  border-radius: 2%;
  padding:1rem;
  h3{
    font-size: 16px;
    font-weight :600;
    margin : 1em;
  }
  @media screen and (max-width:375px){
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:30px;
    width:100%;
    margin:0px;
    h3{
      font-size:14px;
    }
  }
}

.attr_section{
  margin : 1.5em auto;
  text-align : center;
}

#search {
  display :flex;
  @media screen and (max-width:375px){
    flex-direction: column;
    align-items:center;
  }

}

#searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin :20px;
  form{
    display: flex;
    width:30%;
  }
  input[type=text] {
    border : 1px solid black;
  }

  input[type=submit] {
    border : 1px solid black;
    padding :4px;
    border-radius :5px;
  }

}

#inline_search {
  display:flex;
  flex:1;
  justify-content: center;
  flex-wrap: wrap;
}


.training_card {
  display:flex;
  flex-direction :column;
  align-items:center;
  justify-content: space-around;
  min-width : 10em;
  max-height: 10em;
  background-color: $color-dull-blue;
  margin : 3vh;
  border-radius: 10px;
  box-shadow : 2px 2px 5px grey;

  .training_meta {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  @media screen and (max-width :1240px){
    width:14vw;
    font-size:14px
  }
  @media screen and (max-width :768px){
      width:16vw;
      font-size:14px
  }
  @media screen and (max-width :650px){
      width:40vw;
      height:200px;
      font-size: 12px;
  }
  @media screen and (max-width :375px){
    width:70vw;
    height:200px;
    font-size: 12px;
 
}
}

/*LOGIN*/

.feature_login {
  background-color:#84C36D;
  flex:1;
  display:flex;
  align-items: center;
  flex-direction:column;
  justify-content:center;
  padding :1rem;
  figure {
    width:200px;
    height:300px;
    background-color: orange;
    width:30%;
  }
  h2{
    font-size: 20px;
    //background-color: red;
    width:45%;
    text-align: center;
  }
  p{
    font-size:18px;
    text-align: center;
    width:45%;
  }
  .switcher{
    display: flex;
    justify-content:space-between;
    width:50px;
  }
  .switch{
    width:10px;
    height:10px;
    background-color: grey;
    border-radius:100%;
  }

  .active{
    background-color: orange;
  }
}



.logo_round{
  border-radius:100%;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  width:60px;
  height:60px;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

.little_text {
  font-size: 9px;
}

.button_large{
  width:80%;
  background-color:$color-dull-blue ;
  text-align: center;
  border:1px solid black;
  margin:20px 0px 10px 0px;
}

.button_google{
  width: 80%;
  color:#656565;
  text-align: center;
  margin:10px 0px 10px 0px;
}

.second{
  font-size: 9px;
  span{
    color:#1D3F96;
  }
}

.container_one {
  align-items: center;
  margin:20px;
  width:70%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}


.container_wrap {
  display: flex;
  flex-wrap: wrap;
}

/*General*/ 

/*OVERLAY*/

.word_overlay {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:50%;
  background-color: white;
  border:1px solid black;
  padding: 1rem;
  display: flex;
  min-width: 10rem;
  min-height: 10rem;
  
}

.preview_overlay {
  flex-direction: column;
  align-items:center;
  position:absolute;
  top:50%;
  left:10%;
  width:80vw;
  margin:auto;
  background-color: #88BEDC;
}

/**/

/*SEARCH*/

.searchResult {
  padding : 5px;
}

.search_element {
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:80px;
  font-size: 10px;
  box-shadow : 2px 2px 3px grey;
  margin: 0.5rem;
}

/**/

.detail_button {
  background-color: #3298C3;
}

.tag_button {
  background-color: #84C36D;
}

.add_button {
  background-color: #f2bf60;
}

button {
  background-color: greenyellow;
  border-radius: 5px;
  margin :0.5rem;
}



/*PUBLISH*/ 

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #433a3a transparent #3c3030 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-success {
  background-color: green;
  width: 30px;
  height: 30px;
}

.lds-failed {
  background-color: red;
  width: 30px;
  height: 30px;
}